{% extends "base.html" %}

{% block body %}

{% load static %}


<style>
    .h{
        margin-left:40px;
    }
   /* Hover */
   ul {
            padding: 0;
            list-style: none;
            /* background: #f2f2f2;
            width: 500px; */
        }
 
        ul li {
            display: block;
            position: relative;
            line-height: 21px;
            text-align: left;
        }
        ul li a {
            display: block;
            /* padding: 8px 25px; */
            color: #333;
            text-decoration: none;
        }
        ul li a:hover {
            color: #fff;
            /* background: #939393; */
        }
        ul li ul.dropdown {
            min-width: 100%;
            /* Set width of the dropdown */
            /* background: #f2f2f2; */
            display: none;
            /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
            position: relative;
            z-index: 999;
            padding: 8px 2px;
            /* left: 0; */
            top:10px;
            
            left: 5px;
            
        }
        ul li:hover ul.dropdown {
            display: block;
            
            /* Display the dropdown */
        }
        .pagination {
  display:flexbox;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 20px;
}
</style>


  <!--================End Home Banner Area =================-->

  <!--================Category Product Area =================-->
  <section class="product_section layout_padding">
    <div class="container">
      <div class="row flex-row-reverse">


        <div class="col-lg-3">
          <div class="left_sidebar_area">
            <aside class="left_widgets p_filter_widgets">
              <div class="l_w_title">
                <h3>Browse Categories</h3>
              </div>
              <div class="widgets_inner">
              <!-- New -->
              <ul class="list">
                {% for a in cat %}
                <li>
                    <a href="{% url 'category_detail' a.id %}">{{a.category_name}}</a>
                   
                </li>
                {% endfor %}
           </ul>
                
                  </li>
                 
                </ul>
              </div>
            </aside>

          </div>
        </div>
        <div class="col-lg-9">
          <div class="product_top_bar">
            <div class="left_dorp">
             
              </select>
            </div>
          </div>

<!-- Product -->
  <!-- earing product section -->
  <!-- <section class="product_section layout_padding">
    <div class="container"> -->
       <div class="heading_container heading_center">
          <h2>
             Our <span>Products</span>
          </h2> 
        
       </div>
       <div class="row">
        {% for e in page_obj %}
        <div class="col-sm-6 col-md-4" >
          <!-- <div class="col-sm-6 col-md-4 col-lg-3" > -->
             <div class="box">
                <div class="option_container" >
                   <div class="options">
                      <a href="{% url 'productdetail' e.id %}" class="option1">
                         Details
                      </a>
                      <a href="{% url 'add-to-cart' %}?prod_id={{e.id}}" class="option2">
                      Buy Now
                      </a>
                   </div>
                </div>
                <div class="img-box">
                  <a href="{% url 'productdetail' e.id %}">
                   <img src="/media/{{e.image}}" alt=""  style='height:300px;width:300px'>
                    </a>
                  </div>
                <div class="detail-box" style="white-space: nowrap ;">
                   <h5 style="font-size:15px;">
                      {{e.product_name}}
                   </h5>
                   &nbsp;&nbsp;
                   <h6>
                      ${{e.price}}
                   </h6>
                </div>
             </div>
          </div>
      
       {% endfor %}
       </div>
      
   

       
      </div>
    </div>
  </section>


 
     {{prod.number}}

     
      <li class="page-item">
        
        {% if prod.has_next %}
                   
        <a class="page-link" href="?page={{prod.next_page_number}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
        {% endif %}
      </li>
    </ul>
  </nav> -->
  <div class="pagination" style="margin-left:600px;">
    {% if page_obj.has_other_pages %}
    <!-- <nav>
        <ul class="pagination theme-colored" style="font-size:20px;"> -->
            {% if page_obj.has_previous %}
            <!-- <li> -->
              <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
            <!-- </li> -->
            {% else %}
            <!-- <li class="disabled"> -->
              <span>&laquo;</span>
            <!-- </li> -->
            {% endif %}
            {% for i in page_obj.paginator.page_range %}
            {% if  forloop.counter == 1 and request.GET.page == none %}
            <!-- <li class="active"> -->
              <a>{{i}} <span class="sr-only">(current)</span></a>
            <!-- </li> -->
            {% elif  request.GET.page == i|slugify %}
            <!-- <li class="active"> -->
              <a>{{i}} <span class="sr-only">(current)</span></a>
            <!-- </li> -->
            {% else %}
            <!-- <li> -->
              <a href="?page={{ i }}">{{ i }}</a>
            <!-- </li> -->
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <!-- <li> -->
              <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
            <!-- </li> -->
            {% else %}
            <!-- <li class="disabled"> -->
              <span>&raquo;</span>
            <!-- </li> -->
            {% endif %}
        <!-- </ul>
    </nav> -->
    {% endif %}
  </div>
  

{% endblock body %}